.bg-nav {
    background-color: rgba(0, 0, 0);

}

.my-index-div {
    min-height: 56.6vh;
    max-height: 100%;
}

.my-register-div {
    min-height: 85.5vh;
    max-height: 100%;
}

.nav-item {
    padding-right: 28px;
    font-size: 1rem!important;
}

.h5:hover {
    color: rgba(153,76,0)!important;
}

.btn-primary{
    color: black;
    background-color: rgba(153,76,0)!important;
    border: none!important;
}

.quotes{
    font-family: 'Signerica Medium', sans-serif;
    color: white;
    width: 500px;
    margin-left: 100px;
    margin-top: 150px;
}

.welcome-message{
    font-family: 'BodonisBulemy', sans-serif;
    color: white;
}

.wrapper-welcome{
    float: right;
}

#articlesList{
    overflow: hidden!important;
}

.col-md-6{
    overflow: hidden!important;
    height: 250px!important;
    white-space: nowrap!important;
    text-overflow: ellipsis!important;

}

.article-content{
    -webkit-box-flex:0;
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
    display:table-cell;
}

#articlesBackButton{
    margin-bottom: 50px;
}

#title-of-article{
    margin-bottom: 50px;
}

#title-description{
    margin-top: 50px;
}

#individual-article{

    font-family: Roboto, Arial, sans-serif!important;

}

#link{
    color: rgba(153,76,0)!important;
}



footer {
    position: absolute;
    width: 100%;
}

.bg-blur {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
    color: black;
    font-weight: bold;
    z-index: 2;
    width: 100%;
}

body {
    background-image: url(/img/img.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}



.carouselExampleIndicators {
    height: 500px;
}

.carousel-item img {
    height: 500px;
}

#all-articles-jumbotron {
    background-image: url("/img/instruments.jpg");
    background-position: center;
}

.tm-block{
    color: white;
}


