<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/commons::head">
</head>
<body>

<header th:replace="fragments/commons::navigation"
></header>
</div>

<main class="p-5 align-content-center bg-blur">
    <div class="container">
        <div class="mt-5 col-sm-12 my-auto align-self-center">
            <input id="searchInput" class="form-control mr-sm-2 w-50" type="search"
                   placeholder="Enter a keyword to start the search" aria-label="Search">
        </div>

        <div class="row mt-5" id="articlesList">
            <script type="application/javascript">

                const articlesList = document.getElementById('articlesList');


                fetch("http://localhost:8000/articles/api")
                    .then(response => response.json())
                    .then(data => {
                        for (let article of data) {
                            articlesList.innerHTML += `<div class="col-md-6 h-50">
                        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <h3 class="card-text border-bottom">${article.title.substring(0,35)}</h3>
                                <p class="mb-1 text-muted">Posted on ${article.createdOn.replace(`Z`, ``).replace(`T`, ` at `).split(`+`)[0]}</p>
                                <p class="card-text mb-auto">${article.description.substring(0,60)}</p>
                                <a href="http://localhost:8000/articles/${article.id}">Continue reading.....</a>
                            </div>
                        </div>
                    </div>`

                        }
                    });






            </script>
        </div>
    </div>

</main>
<footer th:insert="fragments/commons::footer">

</footer>


</body>
</html>
