<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::navigation"
></header>
<main th:object="${article}"   class="p-5 align-content-center bg-blur">

    <a href="https://nba-blog.azurewebsites.net/articles/all"><button id="articlesBackButton" class="btn btn-primary btn-sm shadow-none">Back to Articles</button></a>


    <div id="title-of-article" class="justify-content-center">

        <h1 class="text-light border-left border-white pl-4" th:text="*{title}"></h1>
    </div>


        <div class="article-content bg-blur text-light rounded ">
            <dl class="row pt-3">
                <dd class="col-sm-9" >Date posted</dd>
                <dt class="col-sm-3" th:text="*{createdOn}">Date posted</dt>

                <dd class="col-sm-9">User</dd>
                <dt class="col-sm-3" th:text="*{userEntity}">User</dt>

                <h2 id="title-description" class="col-sm-9" th:text="*{description}">Artist</h2>

            </dl>
        </div>

    <div class="row rounded mb-5 mt-3">
        <div class="container mt-5">
            <div class="d-flex justify-content-center row ">
                <div class="col-md-8">
                    <div class="d-flex flex-column comment-section ">
                        <div class="bg-blur text-light p-2 rounded">
                            <form th:object="${commentAddBindingModel}" th:action="@{/articles/} + ${article.id}" method="POST">
                                <div class="d-flex flex-row align-items-start">
                                    <img class="rounded-circle"
                                         src="https://i.imgur.com/RpzrMR2.jpg"
                                         width="40"><textarea th:field="*{commentContent}" name="text"
                                                              class="form-control ml-1 shadow-none textarea"></textarea>
                                </div>
                                <input type="hidden" name="albumId" >
                                <div class="mt-2 text-right">
                                    <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment
                                    </button>
                                    <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div id="commentsContainer" class="bg-blur text-light p-2 rounded">
                            <script>
                                const comments = document.getElementById("commentsContainer");
                                const pathArray = window.location.pathname.split('/');

                                fetch("https://nba-blog.azurewebsites.net/articles/".concat(pathArray[2]).concat("/comments"))
                                    .then(response => response.json())
                                    .then(data => {
                                        for (let comment of data){

                                            comments.innerHTML +=`<div className="bg-blur text-light p-2 rounded">
                                    <div className="d-flex flex-row user-info">
                                        <img className="rounded-circle"
                                             width="40">
                                            <div className="d-flex flex-column justify-content-start ml-2">
                                                <span className="d-block font-weight-bold name"></span>
                                                <span> Comment added on ${comment.postedOn} </span></div>
                                    </div>
                                    <div className="mt-2">
                                        <p className="comment-text"> Posted by: ${comment.user}</p>
                                    </div>
                                    <div className="mt-2">
                                        <p className="comment-text">${comment.commentContent}</p>
                                    </div>
                                </div>`
                                        }
                                    })




                            </script>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
