<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::navigation"
></header>
<main th:object="${article}"   class="p-5 align-content-center bg-blur">

    <a href="http://localhost:8000/articles/all"><button id="articlesBackButton" class="btn btn-primary btn-sm shadow-none">Back to Articles</button></a>


    <div id="title-of-article" class="justify-content-center">

        <h1 class="text-light border-left border-white pl-4" th:text="*{title}"></h1>
    </div>


        <div class="article-content bg-blur text-light rounded ">
            <dl class="row pt-3">
                <dd class="col-sm-9" >Date posted</dd>
                <dt class="col-sm-3" th:text="*{createdOn}">Date posted</dt>

                <dd class="col-sm-9">User</dd>
                <dt class="col-sm-3" th:text="*{userEntity}">User</dt>

                <h2 id="title-description" class="col-sm-9" th:text="*{description}">Artist</h2>

            </dl>
        </div>

    <div class="row rounded mb-5 mt-3">
        <div class="container mt-5">
            <div class="d-flex justify-content-center row ">
                <div class="col-md-8">
                    <div class="d-flex flex-column comment-section ">
                        <div class="bg-blur text-light p-2 rounded">
                            <div class="d-flex flex-row user-info">
                                <img class="rounded-circle" 
                                     width="40">
                                <div class="d-flex flex-column justify-content-start ml-2">
                                    <span class="d-block font-weight-bold name"></span>
                                    <span> Comment added on date and time </span></div>
                            </div>
                            <div class="mt-2">
                                <p class="comment-text">Comment text</p>
                            </div>
                        </div>
                        <div class="bg-blur text-light rounded ">
                            <div class="d-flex flex-row fs-12 float-right">
                                <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span
                                        class="ml-1">Like</span></div>
                                <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span>
                                </div>
                                <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span>
                                </div>
                            </div>
                        </div>
                        <div class="bg-blur text-light p-2 rounded">
                            <form action="/comments/add" method="POST">
                                <div class="d-flex flex-row align-items-start">
                                    <img class="rounded-circle"
                                         src="https://i.imgur.com/RpzrMR2.jpg"
                                         width="40"><textarea name="text"
                                                              class="form-control ml-1 shadow-none textarea"></textarea>
                                </div>
                                <input type="hidden" name="albumId" >
                                <div class="mt-2 text-right">
                                    <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment
                                    </button>
                                    <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="fragments/commons::footer">

</footer>
</body>
</html>
