<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:insert="fragments/commons::head">
    <link href="https://fonts.cdnfonts.com/css/signerica-fat" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/bodonisbulemy" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/commons::navigation"
></header>
<main class="p-5 align-content-center bg-blur">
    <div class="wrapper-welcome">
    <h1 class="welcome-message" sec:authorize="isAuthenticated()"><style>
        @import url('https://fonts.cdnfonts.com/css/bodonisbulemy');
    </style>Welcome,</h1>
    <h1 class="welcome-message" sec:authorize="isAuthenticated()"> <span th:text ="${#authentication.getPrincipal().getUsername()}"><style>
@import url('https://fonts.cdnfonts.com/css/bodonisbulemy');
</style></span></h1>
    </div>
    <h2 class="quotes"><style>
        @import url('https://fonts.cdnfonts.com/css/signerica-fat');
    </style>Talent wins games,
        but teamwork wins championships.</h2>

 <div class="d-flex justify-content-center">
        <div class="my-index-div w-50">

        </div>
    </div>
</main>
<footer th:insert="fragments/commons::footer">

</footer>
</body>
</html>
